<table class="table" style="">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ad id</th>
      <th scope="col">ad time</th>
      <th scope="col">ad type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><input type="text"  placeholder="Username"></td>
      <td><input type="text"  placeholder="Username"></td>
      <td><input type="text"  placeholder="Username"></td>
      <td><button type="button" class="btn btn-primary">Primary</button></td>
    </tr>
  </tbody>
</table>