{% include 'head.html' %}
<table class="table" style="">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ad title</th>
      <th scope="col">ad id</th>
      <th scope="col">ad time</th>
      <th scope="col">ad type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><input type="text"  placeholder="" style="width: 350px"></td>
      <td><input type="text"  placeholder=""></td>
      <td><input type="text"  placeholder=""></td>
      <td><input type="text"  placeholder=""></td>
      <td><button type="button" class="btn btn-primary">更新</button></td>
        <td><button type="button" class="btn btn-primary">删除</button></td>
    </tr>
  </tbody>
</table>
<script src="../static/angularjs/angularjs.min.js"></script>