{% extends 'head.html' %}
{% block body %}
<div class="input-group mb-3">
    <button onclick="setcat(this)"></button>
    <p></p>
  <select class="custom-select" about="" style="width: 100px" onchange="categorie(this)" onclick="add_item(this)">

  </select>
</div>
    
    <script type="text/javascript">
    var dic = eval({{dic|safe}});
	$(function what_device(){
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
              //  window.location.href = 'mobile设备地址';
                        console.log('mobile设备地址');
              //  alert(window.location.pathname)        
                    }
                    else {
              //  window.location = '/login';
                        console.log('PC设备地址');       
                                             }
     });

    function categorie(obj) {
	    var temp = $(obj).val();
        var ad_info={};
        alert($(obj).attr('itemid'));
        {#ad_info.categorie = dic.categorie_info[temp];#}
        {#ad_info.id = $(obj).attr('itemid');#}
        {#$.post("/admin/video_post?action=recategorie",ad_info ,#}
        {#  function(data,status){#}
        {#    });#}
    }
    function setcat(obj){
        $(obj).next().val(20)
    }
    
    function add_item(obj) {
	     for (var i = 0 ; i<dic.categorie_info.length; i++) {
                     $(obj).append('<option value="'+ i +'">'+ dic.categorie_info[i] +'</option>');
                 }
                 $(this).val(4);
        alert($(this).childElementCount)
    }
     </script>
{% endblock %}